<!--
  Generated template for the ConsumptionHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>지출 내역</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header class="padding-8">
      <ion-item class="padding-zero width-full" style="text-align: center;">
        <ion-badge item-start color="transparent" class="padding-zero">
          <button ion-button clear icon-only color="transparent" class="font-color-black font-size-18">
            <ion-icon icon-left name="ios-arrow-back" class="padding-zero"></ion-icon>
          </button>
        </ion-badge>

        <ion-badge color="transparent" class="font-color-black">
          <button ion-button clear color="transparent" class="padding-zero font-color-black font-size-18">
            2018년 5월
          </button>
        </ion-badge>
        
        <ion-badge item-end color="transparent" class="padding-zero">
          <button ion-button clear icon-only color="transparent" class="font-color-black font-size-18">
            <ion-icon name="ios-arrow-forward" class="padding-zero"></ion-icon>
          </button>
        </ion-badge>
      </ion-item>
      
      <ion-item class="padding-zero width-full">
        <ion-label class="font-size-18 font-weight-bold">총 사용금액</ion-label>

        <ion-badge item-end color="transparent">
          <button *ngIf="monthlyTotalMoney == 0" ion-button clear color="transparent" class="padding-zero font-color-black font-size-18">
            {{ monthlyTotalCommaMoney }}
          </button>

          <button *ngIf="monthlyTotalMoney < 0" ion-button clear color="transparent" class="padding-zero font-color-red font-size-18">
            {{ monthlyTotalCommaMoney }}
          </button>

          <button *ngIf="monthlyTotalMoney > 0" ion-button clear color="transparent" class="padding-zero font-color-green font-size-18">
            {{ monthlyTotalCommaMoney }}
          </button>
        </ion-badge>
      </ion-item>
      
    </ion-card-header>

    <ion-list no-lines class="padding-zero">
      <hr class="margin-zero">

      <ion-item *ngFor="let historys of dailyHistory" class="padding-zero">
        <ion-item class="padding-zero width-full" (click)="historyToggle(historys)">
          <ion-badge item-left color="" class="font-size-15 font-weight-normal padding-updown-8">
            {{ historys.date }}
          </ion-badge>
  
          <ion-badge *ngIf="historys.totalMoney == 0" item-right color="transparent" class="font-color-black font-size-15">
            {{ historys.totalCommaMoney }}
          </ion-badge>
  
          <ion-badge *ngIf="historys.totalMoney > 0" item-right color="transparent" class="font-color-green font-size-15">
            {{ historys.totalCommaMoney }}
          </ion-badge>
  
          <ion-badge *ngIf="historys.totalMoney < 0" item-right color="transparent" class="font-color-red font-size-15">
            {{ historys.totalCommaMoney }}
          </ion-badge>
  
          <ion-badge *ngIf="!historys.open" item-right color="transparent" class="font-color-black">
            <ion-icon name="ios-arrow-down" class="font-color-black"></ion-icon>
          </ion-badge>

          <ion-badge *ngIf="historys.open" item-right color="transparent" class="font-color-black">
            <ion-icon name="ios-arrow-up" class="font-color-black"></ion-icon>
          </ion-badge>
        </ion-item>
  
        <ion-list [hidden]="!historys.open">
          <ion-item *ngFor="let history of historys.history" (click)="openHistory(history)" class="margin-zero padding-zero">
            <span class="margin-side-4 font-size-13">{{ history.time }}</span>
            <span *ngIf="history.money < 0" class="margin-side-4 font-size-13 font-color-red">{{ history.commaMoney }}</span>
            <span *ngIf="history.money > 0" class="margin-side-4 font-size-13 font-color-green">{{ history.commaMoney }}</span>
            <span class="margin-side-4 font-size-13">{{ history.paymentMethod }}</span>
            <span class="margin-side-4 font-size-13 one-line">{{ history.content }}</span>
          </ion-item>

          <ion-item *ngIf="historys.history.length == 0" class="margin-zero padding-zero">
            <span class="margin-side-4 font-size-13 one-line">내역 없음</span>
          </ion-item>
        </ion-list>

        <hr class="margin-zero">
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>